/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

/* font-family: "OpenSansLightItalic"; */
@font-face {
    font-family: "OpenSansLightItalic";
    src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic.eot");
    src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLightItalic/OpenSansLightItalic.woff") format("woff"),
    url("../fonts/OpenSansLightItalic/OpenSansLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

header,
main,
footer {
    font-family: OpenSans;
    font-size: 18px;
}

.categories .circle-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    border: 2px solid #8A8C7F;
}

.bold-font{
    font-family: OpenSansBold;
}

.italic-font{
    font-family: OpenSansItalic;
}

nav {
    padding-bottom: 130px;
    padding-top: 20px;
}

header{
    background: url("../img/header-background.png") no-repeat center center;
    background-size: cover;
}

.background-header {
    max-width: 100%;
    width: 100%;
    min-height: 500px;
}

.content-center{
    text-align: center;
}

.logo, .sign-in-up a{
    color:white;
}

.logo-top{
    font-family: OpenSansBold;
    font-size: 26px;
}

.logo:hover{
    color:white;
    text-decoration: none;
}

.component{
    width: 100%;
    border-radius: 5px;
    display: block;
    text-align: center;
    background-color: white;
    color: #AA438A;
    border: 1px solid white;
}

.add-resume{
    color: #9C507C;
    font-family: OpenSansBold;
    font-size: 19px;
    padding: 10px;
    border: 1px solid white;
}

.find-accociate{
    color: #9C507C;
    font-family: OpenSans;
    font-size: 20px;
    padding: 5px;
    line-height: 19px;
    border: 1px solid white;
}

.find-work{
    font-family: OpenSans;
    font-size: 20px;
    padding: 5px;
    line-height: 19px;
}

.hiring-panel, .search-panel{
    margin-top: 55px;
}

.find-work:hover, .find-accociate:hover, .add-resume:hover{
    color: white;
    background-color: #AA438A;
}

.dropdown-toggle::after{
    display: none;
}

.search-panel>div:first-child, .search-panel>div:nth-child(2){
    padding-right: 0;
}

.search-panel>div:nth-child(2), .search-panel>a:nth-child(3){
    padding-left: 0;
}

.search-position{
    width: 100%;
    padding: 10px;
    border: unset;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color:#B89FB5;
}

.search-place{
    width: 100%;
    padding: 10px;
    background-color: white;
    border-left: 1px solid gray;
    color:#B89FB5;
}

.search-button{
    text-align: center;
    padding: 3px;
    background-color: #AA438A;
    font-size: 1.5em;
    color:white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.row.search-panel ~ div.row{
    margin-top: 30px;
}

.show-vacancies{
    color: #9C507C;
    padding: 10px;
    text-align: left;
    border: 1px solid white;
}

.show-vacancies:hover{
    background-color: #AA438A;
    color: white;
}

@media (min-width: 576px) and (max-width: 768px) {
    .hiring-panel>div:nth-child(3){
        margin-top: 20px;
    }

    .hiring-panel>div:nth-child(2){
        margin-top: 20px;
    }

    .search-panel>div:first-child, .search-panel>div:nth-child(2){
        padding-right: 15px;
    }
    
    .search-panel>div:nth-child(2), .search-panel>a:nth-child(3){
        padding-left: 15px;
        margin-top: 20px;
    }

    .search-panel>div>div, .search-panel>div>input,  .search-panel>a>div{
        border-radius: 5px;
    }
}

@media (max-width: 576px) {
    .hiring-panel>div:nth-child(3){
        margin-top: 20px;
    }

    .hiring-panel>div:nth-child(2){
        margin-top: 20px;
    }

    .search-panel>div:first-child, .search-panel>div:nth-child(2){
        padding-right: 15px;
    }
    
    .search-panel>div:nth-child(2), .search-panel>a:nth-child(3){
        padding-left: 15px;
        margin-top: 20px;
    }

    .search-panel>div>div, .search-panel>div>input,  .search-panel>a>div{
        border-radius: 5px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .hiring-panel>div:nth-child(3){
        margin-top: 20px;
    }
}

.hot-vacancies .header, .categories .header{
    text-align: center;
    margin-bottom: 20px;
    color: #9C507C;
    margin-top: 20px;
}

.vacancy{
    margin-bottom: 20px;
}

.vacancy>div>a{
    font-size: 17px;
    text-decoration: underline;
}

.vacancy>div:nth-child(2)>span{
    font-size: 14px;
}

.vacancy>div:last-child>span{
    font-size: 14px;
    color: gray;
}

.hot-vacancies span{
    display: inline-flex;
    align-items: center;
}

.hot-vacancies span i{
    font-size: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.hot-vacancies div>a.show-more{
    font-size: 12px;
    text-transform: uppercase;
    font-family: OpenSansBold;
    color:#007BFF;
    padding: 10px 0 10px 0;
    border: 1px solid #007BFF;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.hot-vacancies div>a.show-more:hover{
    color:#007BFF;
    text-decoration: underline;
}

.category{
    margin-bottom: 20px;
    font-size: 14px;
}

.category a{
    padding-right: 5px;
    text-decoration: none;
}

.category a>i{
    margin-right: 5px;
}

footer{
    background: url("../img/footer-background.png") no-repeat center center;
    background-size: cover;
    color:white;
    font-size: 17px;
    padding: 40px;
}

footer h5{
    font-family: OpenSansBold;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer a, footer a:hover{
    color: white;
    text-decoration: none;
}

a{
    cursor: pointer;
}