/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

/* font-family: "OpenSansLightItalic"; */
@font-face {
    font-family: "OpenSansLightItalic";
    src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic.eot");
    src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLightItalic/OpenSansLightItalic.woff") format("woff"),
    url("../fonts/OpenSansLightItalic/OpenSansLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

header,
main,
footer {
    font-family: OpenSans;
    font-size: 18px;
}

.bold-font{
    font-family: OpenSansBold;
}

nav {
    background: rgba(184, 67, 137, .3);
    z-index: 1030;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.background-header {
    max-width: 100%;
    width: 100%;
}

.fixed{
    position: fixed;
}